* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 5vh;
}

h2 {
    font-size: 1rem;
}

p {
    padding: 5%;
}


.allcont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

.up {
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    width: 80%;
    height: 25%;
    margin-bottom: 5%;
    background-color: burlywood;
}

        .chicken {
            display: flex;
            height: 20%;
            width: 40%;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            justify-content: center;
            align-items: center;
            align-self: flex-end;
            background-color: brown;
        }

        .teks1 {
            margin-top: 1vh;
        }

.center {
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    width: 80%;
    height: 25%;
    margin-bottom: 5%;
    background-color: burlywood;
}

        .beef {
            display: flex;
            height: 20%;
            width: 40%;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
            justify-content: center;
            align-items: center;
            align-self: flex-end;
            background-color: brown;
        }

            .teks2 {
                margin-top: 1vh;
            }

.down {
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    width: 80%;
    height: 25%;
    margin-bottom: 5%;
    background-color: burlywood;
}

            .sushi {
                display: flex;
                height: 20%;
                width: 40%;
                border-left: 1px solid black;
                border-bottom: 1px solid black;
                justify-content: center;
                align-items: center;
                align-self: flex-end;
                background-color: brown;
}

            .teks3 {
                margin-top: 1vh;
            }


/* tablete */



